{% extends "layout.html" %}
{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <form method="POST" class="row g-3">
            <div class="col-auto">
                <input type="text" name="coin_name" class="form-control" placeholder="Enter Coin Name (e.g. bitcoin)">
            </div>
            <div class="col-auto">
                <button type="submit" name="action" value="add" class="btn btn-primary">Add Coin</button>
            </div>
            <div class="col-auto">
                <button type="submit" name="action" value="delete" class="btn btn-primary">Delete Coin</button>
            </div>
        </form>
    </div>
</div>
<h1>Live Crypto Prices</h1>
    <div>
        {% for coin, details in prices.items() %}
        <div class="crypto-card">
            <span style="text-transform: capitalize;"><strong>{{ coin }}</strong></span>
            <span>
                <span class="price">${{ "{:,.2f}".format(details['usd']) }}</span>
                <span class="change {{ 'positive' if details.usd_24h_change > 0 else 'negative' }}">
                    ({{ "%.2f"|format(details.usd_24h_change) }}%)
                </span>
            </span>
        </div>
        {% endfor %}
    </div>
{% endblock %}