<!-- link layout.html -->
{% extends "layout.html" %}

<!-- pass title for topbar navigation -->
{% set title = "Manage users" %}

<!-- give name to a title-->
{% block title %}
Manage users
{% endblock %}

<!-- add a content to the body block-->
{% block content %}

<div class="container-fluid">

    <h2 class="mb-4">Manage Users</h2>

    <!-- search bar -->

    <div class="mb-3">

    <input 
    type="text" 
    class="form-control" 
    placeholder="Search user..."
    id="searchUser">

    </div>

    {% set headers = ["ID", "Username", "Email", "Role", "Status", "Action"] %}

    {% set rows = [] %}

    {% include "components/table_component.html" %}

</div>
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/manage_users.js') }}"></script>

{% endblock %}