<!-- users side bar with Dashboard, Portfolio and Transactions-->
<div class="sidebar">

    <h4 class="logo">CryptoSim</h4>

    <ul>

        <li>
            <a href="{{ url_for('dashboard', username=username) }}">
                Dashboard
            </a>
        </li>

        <li>
            <a href="{{ url_for('portfolio', username=username) }}">
                Portfolio
            </a>
        </li>

        <li>
            <a href="{{ url_for('transactions', username=username) }}">
                Transactions
            </a>
        </li>

        <li>
            <a href="{{ url_for('index') }}">
                Logout
            </a>
        </li>

    </ul>

</div>