<div class="row">

<div class="col-md-2">
<div class="card text-center">
<div class="card-body">
<h6>ROI %</h6>
<p>0%</p>
</div>
</div>
</div>

<div class="col-md-2">
<div class="card text-center">
<div class="card-body">
<h6>Total Invested</h6>
<p>$0</p>
</div>
</div>
</div>

<div class="col-md-2">
<div class="card text-center">
<div class="card-body">
<h6>Total Trades</h6>
<p>0</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<div class="card-body">
<h6>Current Portfolio Value</h6>
<p>$0</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<div class="card-body">
<h6>Profit / Loss</h6>
<p>$0</p>
</div>
</div>
</div>

</div>